form{
    margin-left: 36rem ;
    margin-top: 10rem;
    margin-right: 33rem;
    border: 2px solid rgba(133, 134, 103, 0.178);
    border-radius: 1rem;
    padding: 4rem;
    background-color: antiquewhite; 
   box-shadow: 1px 1px 2px #00000047, 0 0 25px #0000ff3d, 0 0 5px #00008b38;
   border: none;
}
.style{
padding: 2rem;
}
input{
   font-size: 1em;
   height: 2em;
   border: none;
   box-shadow:1px 1px 2px #00000000, 0 0 25px #0000ff00, 0 0 5px #00008b78;
   border-radius: 0.4rem; 
}
textarea{
     border: none;
   box-shadow:1px 1px 2px #00000000, 0 0 25px #0000ff00, 0 0 5px #00008b78;
   border-radius: 0.4rem; 
}
label{
    font-size: 2.8rex;
}
button{
    background-color: white;
    box-shadow:1px 1px 2px #00000000, 0 0 25px #0000ff00, 0 0 5px #00000078;
    border: none;
    border-radius: 0.4rem;
    padding: 5px;
    margin-left: 11.5rem;
}